.step2 .dateOfBirthBlock {
    input {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 33.3333%;
        width: 100%;
        padding: 14px 0;
        border: 1px solid #c3c3c3;
        text-align: center;
        font-weight: 400;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &:not(:last-child) {
            border-right: none;
        }
    }
}

    

.step2 {
    font-variant: small-caps;

    label {
        text-align: center;
        font-weight: 600;
    }
}

    