.step1 {
    padding-top: 35px !important;

    label {
        font-variant: small-caps;
        margin-bottom: 15px;
        font-weight: 600;

        &:not(:first-child) {
            margin-top: 25px;
        }
    }

    input {
        border: none;
        border-bottom: 2px solid #C3C3C3;
        padding: 2px;
        font-weight: 400;
    }
}